{% extends 'base.html' %}
{% load static %}

{% block title %}Main Screen{% endblock %}

{% block content %}
<div class="container">
    <div class="background"></div>
    <div class="content">
        <img src="{% static 'images/maf_main.png' %}" alt="Logo" class="logo">
        <div class="buttons">
            <button class="book-now-btn" onclick="location.href='{% url 'register' %}'">Book Now</button>
            <button class="login-btn" onclick="location.href='{% url 'login' %}'">Login</button>
        </div>
    </div>
</div>
{% endblock %}
